<div class="row">
    <div class="col">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Uno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component-duo">Duo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component-trio">Trio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component-quatro">Quatro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/component-cinquo">Cinquo</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
<router-outlet></router-outlet>